@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding: 80px 0;
  background-color: var(--VeryLightGray);
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 315px;
  margin-bottom: 80px;
}
header h1 {
  color: var(--VeryDarkBlue);
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
header h1 span {
  font-weight: 200;
}
header p {
  text-align: center;
  color: var(--GrayishBlue);
  line-height: 1.7;
}
main {
  margin-bottom: 20px;
  width: 315px;
}
main .features {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .features .feature {
  background-color: white;
  height: 173px;
  width: 265px;
  border-radius: 5px;
  box-shadow: 0 10px 10px 3px hsla(212, 34%, 47%, 0.151);
  padding: 25px;
}
main .features .feature h3 {
  color: var(--VeryDarkBlue);
  font-size: 20px;
  margin-bottom: 8px;
}
main .features .feature p {
  color: var(--GrayishBlue);
  font-size: 13.5px;
  line-height: 1.7;
  margin-bottom: 30px;
}
main .features .feature img {
  display: block;
  margin-left: 200px;
}
main .features .one {
  border-top: 3px solid var(--Cyan);
}
main .features .two {
  border-top: 3px solid var(--Red);
}
main .features .three {
  border-top: 3px solid var(--Orange);
}
main .features .four {
  border-top: 3px solid var(--Blue);
}

@media (min-width: 1030px) {
  header {
    width: 515px;
    margin-bottom: 70px;
  }
  header h1 {
    font-size: 30px;
  }
  header h1 span {
    display: block;
  }
  main {
    width: 1010px;
  }
  main .features {
    display: grid;
    align-items: center;
  }
  main .features .feature {
    width: 270px;
  }
  main .features .feature img {
    margin-left: 205px;
  }
  main .features .one {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  main .features .two {
    grid-column: 2;
  }
  main .features .three {
    grid-row: 2;
  }
  main .features .four {
    grid-column: 3;
    grid-row: 1 / 3;
  }
}
